{% extends 'teahouse/base.html' %}

{% block content %}
                <article id="post-83"
                         class="post-83 page type-page status-publish hentry">
                    <div>
                        <header class="entry-header">

                            <h1 class="entry-title">
                                <a href="/"
                                   rel="bookmark"><span>Главная</span></a>
                            </h1>
                        </header><!-- .entry-header -->

                        <div class="entry-content">

                            <div class="wp-block-columns">
                                <div class="wp-block-column"
                                     style="flex-basis:33%">
                                    <figure class="wp-block-image size-large">
                                        <img loading="lazy" width="900"
                                             height="900"
                                             src="/static/s-15f2c4187a417faf93ccacc11fd6661de7d6b15d.gif"
                                             alt="" class="wp-image-50"/>
                                    </figure>


                                    <figure class="wp-block-image size-large">
                                        <img loading="lazy" width="1024"
                                             height="771"
                                             src="/static/Screen20Shot202017-12-2720at209.42_edited-1024x771.jpg"
                                             alt="" class="wp-image-52"
                                             srcset="/static/Screen20Shot202017-12-2720at209.42_edited-1024x771.jpg 1024w"
                                             sizes="(max-width: 1024px) 100vw, 1024px"/>
                                    </figure>
                                </div>


                                <div class="wp-block-column">
                                    <h2>От всего сердца</h2>


                                    <blockquote
                                            class="wp-block-quote is-style-default">
                                        <p><em>Чай включает в себя все 4
                                            стихии. Чайные листья прорастают на
                                            земле. Огонь способствует
                                            нагреванию. Вода помогает раскрыть
                                            вкус и разбавить горечь. Ветер
                                            охлаждает. Все эти элементы должны
                                            быть в равновесии, чтобы сделать
                                            идеальную чашечку чая</em></p>
                                        <cite>Дядя Айро</cite></blockquote>
                                </div>
                            </div>
                        </div><!-- .entry-content -->

                        <footer class="entry-meta">
                        </footer><!-- .entry-meta -->
                    </div>
                </article><!-- #post -->
{% endblock %}

{% block nav %}
                <ul>
                    <li class="page_item page-item-83 current_page_item"><a
                            href="/"
                            aria-current="page">Главная</a></li>
                    <li class="page_item page-item-94"><a
                            href="/%d0%bc%d0%b5%d0%bd%d1%8e/">Меню</a>
                    </li>
                    <li class="page_item page-item-92"><a
                            href="/%d0%be-%d1%87%d0%b0%d0%b9%d0%bd%d0%be%d0%b9/">О
                        чайной</a></li>
                    <li class="page_item page-item-108"><a
                            href="/%d0%be%d1%82%d0%b7%d1%8b%d0%b2%d1%8b/">Отзывы</a>
                    </li>
                </ul>
{% endblock %}

{% block nav-aside %}
                <ul>
                    <li class="page_item page-item-83 current_page_item"><a
                            href="/"
                            aria-current="page">Главная</a></li>
                    <li class="page_item page-item-94"><a
                            href="/%d0%bc%d0%b5%d0%bd%d1%8e/">Меню</a>
                    </li>
                    <li class="page_item page-item-92"><a
                            href="/%d0%be-%d1%87%d0%b0%d0%b9%d0%bd%d0%be%d0%b9/">О
                        чайной</a></li>
                    <li class="page_item page-item-108"><a
                            href="/%d0%be%d1%82%d0%b7%d1%8b%d0%b2%d1%8b/">Отзывы</a>
                    </li>
                </ul>
{% endblock %}